@font-face {
    font-family: Syne-Bold;
    src: url(fonts/Syne-Bold.otf);
}

@font-face {
    font-family: Syne-ExtraBold;
    src: url(fonts/Syne-ExtraBold.otf);
}

@font-face {
    font-family: Syne-Medium;
    src: url(fonts/Syne-Medium.otf);
}

@font-face {
    font-family: Syne-Regular;
    src: url(fonts/Syne-Regular.otf);
}

@font-face {
    font-family: Syne-SemiBold;
    src: url(fonts/Syne-SemiBold.otf);
}

body {
    font-family: monospace;
}

h1 {
    font-family: Syne-ExtraBold, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Syne-Bold, sans-serif;
}

p {
    font-family: monospace;
}

.contents {
    display: block;
}

.contents a {
    text-decoration: none; 
}

.contents-scroll {
    height: 220px;
    width: auto;
    overflow: auto;
    position: relative;
    border: 1px;
    border-color: #000;
    border-style: solid;
    padding: 0 15px 0 15px;
}

/* Condensed format */
.wrapper {
    width: 700px;
    margin: 0 auto;
}

.dark-switch button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(54, 54, 54);
    border: none;
    color: #fff;
    padding: 5px;
    font-family: monospace;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
  }

.dark-mode .contents-scroll {
    border-color: #fff;
}

.dark-mode a {
    color: yellow;
}

@media(prefers-color-scheme: light) {
    body {
    background-color: #121212;
    color: #fff;
    }
}

@media(prefers-color-scheme: dark) {
    body {
    background-color: #fff;
    color: #121212;
    }
}

/* humour me. */

.blue {
    color: blue;
}

.dark-mode .blue {
    color: yellow;
}


/* Mobile devices */
@media(orientation:portrait) {
    .wrapper {
        width: 100%;
    }