@font-face {
    font-family: Syne-Bold;
    src: url(fonts/Syne-Bold.otf);
}

@font-face {
    font-family: Syne-ExtraBold;
    src: url(fonts/Syne-ExtraBold.otf);
}

@font-face {
    font-family: Syne-Medium;
    src: url(fonts/Syne-Medium.otf);
}

@font-face {
    font-family: Syne-Regular;
    src: url(fonts/Syne-Regular.otf);
}

@font-face {
    font-family: Syne-SemiBold;
    src: url(fonts/Syne-SemiBold.otf);
}

h1 {
    font-family: Syne-ExtraBold, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Syne-Bold, sans-serif;
}

/* Condensed format */
.wrapper {
    width: 700px;
    margin: 0 auto;
}

/* Mobile devices */
@media(orientation:portrait) {
    .wrapper {
        width: 100%;
        }

.contents {
    height: 220px;
    width: auto;
    overflow: auto;
    position: relative;
    border: 10px;
    border-radius: 10%;
}